<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<persistence>
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <persistence-unit>
        <class>com.mai.pizza.User</class>
        <class>com.mai.pizza.Pizza</class>
    </persistence-unit>
</persistence>
